<launch>
	<!-- 启动MAVROS -->
	<!-- <node pkg="mavros" type="mavros_node" name="mavros" output="screen">
		<param name="fcu_url" value="/dev/ttyACM0:921600" />
		<param name="gcs_url" value="" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
		<rosparam command="load" file="$(find offboard)/launch/px4_pluginlists.yaml" />
		<rosparam command="load" file="$(find offboard)/launch/px4_config.yaml" />
	</node> -->

	<include file="$(find vrpn_client_ros)/launch/sample.launch">
		<arg name="server" value="192.168.10.1"/>
	</include>

	<node pkg="offboard" type="vicon_to_mavros" name="vicon_to_mavros" output="screen">
    </node>

	<node pkg="offboard" type="offb" name="offb" output="screen">
		<param name="height"     value="0.4"/>
		<param name="side"    value="1"/>
		<param name="auto_arm_offboard"   type="bool"  value="false"/>
	</node>

	<node pkg="rosbag" type="record" name="bag_record"
	args="/vrpn_client_node/uav1/pose /mavros/state /mavros/setpoint_position/local /mavros/vision_pose/pose /mavros/local_position/pose /mavros/setpoint_position/local -o /home/dji/bagfiles/bbb.bag" />
</launch>